$send-button-size: 48px;
$send-button-icon-size: calc($send-button-size / 2);

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: var(--spacing-2);
  width: $send-button-size;
  height: $send-button-size;
  border: none;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-secondary);
  color: var(--color-white);
  transition: var(--transition-background-color);
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary-dark);
  }

  &:disabled {
    background-color: var(--color-default-xlight);
  }

  &:focus-visible {
    @include theme.focus-visible-state;
  }

  &__icon {
    width: $send-button-icon-size;
    height: auto;
    line-height: 0;
  }
}
