.chat-form {
  &__form {
    width: calc(100% - 32px);
    max-width: calc(var(--chat-width) - 32px);
    height: 56px;
    position: absolute;
    bottom: 0px;
    margin: 16px;
    display: flex;
    align-items: center;

    > svg {
      position: absolute;
      width: 36px;
      left: 18px;
    }
  }
  
  &__input {
    flex: 1;
    height: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    width: 0;
    font-size: 15px;
  
    box-shadow: 0px 0px 14px 3px #0000001f;
    border-radius: 28px;
    align-items: center;
    padding-inline-start: 64px;
    padding-inline-end: 56px;
    caret-color: var(--primary-color);
    background-color: #fff;
  
    transition-duration: 200ms;
    transition-timing-function: var(--timing-functions);
    transition-property: border;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }
}
