$chat-form-margin: 16px;

.chat-form {
  &__form {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - ($chat-form-margin * 2));
    max-width: calc(var(--chat-width) - ($chat-form-margin * 2));
    height: 56px;
    margin: $chat-form-margin;
  }
  
  &__input {
    flex: 1 1 0;
    height: 100%;
    padding-inline-start: var(--spacing-5);
    padding-inline-end: var(--spacing-14);
    border: none;
    border-radius: 28px;
    font-size: var(--font-size-body-3);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, .15);
    caret-color: var(--color-primary);
    background-color: var(--color-white);

    &:focus {
      outline: 2px solid var(--color-primary);
    }
  }
}
