.chat {
  position: relative;
  width: 100%;
  height: 688px;
  max-width: var(--chat-width);
  margin-inline: auto;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  overflow: hidden;

  &__list {
    padding: var(--spacing-5) var(--spacing-5) var(--spacing-16);
    overflow-y: scroll;
    height: 100%;
  }
}
