@forward './base/minireset';

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  font-size: var(--font-size-body-default);
  font-family: var(--font-family-body);
  line-height: var(--line-height-base);
}

button,
input {
  font-family: var(--font-family-body);
}

strong {
  font-weight: var(--font-weight-medium) !important;
}

a {
  color: inherit;
  text-decoration: none;
}
