// TODO: move these forwards to `chatStyles.ts` in Wasapi
@forward '../../styles/base/minireset';
@forward '../../styles/chat/defaults';
// @forward '../../styles/chat/states';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: var(--spacing-7);
  background-color: var(--color-default-dark);

  &__heading {
    margin-bottom: var(--spacing-7);
    font-size: var(--font-size-body-9);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
  }
}
