:root {
  --primary-color: #1529d7;
  --primary-color-dark: #0f1d97;
  --secondary-color: #2ad3b4;
  --tertiary-color: #d13aad;
  --tertiary-color-dark: #ba2b98;

  --background-color-dark: #1a0c2c;
  --gray-color: #424d59;

  --timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.home--scaffold {
  background-color: var(--background-color-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home--heading {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 48px;
}
