.message-bubble {
  padding: var(--spacing-4) var(--spacing-7);
  font-size: var(--font-size-body-3);
  color: var(--color-white);

  &--assistant {
    background-color: var(--color-primary);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
  }
  
  &--user {
    background: var(--color-default-light);
    border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
  }
  
  &--error {
    background-color: var(--color-alert);
  }
}
