.message-bubble {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  padding: var(--spacing-4) var(--spacing-7);
  font-size: var(--font-size-body-3);
  color: var(--color-white);

  &--assistant {
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
    background-color: var(--color-primary);
  }
  
  &--user {
    border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
    background-color: var(--color-default-light);
  }
  
  &--error {
    border-radius: var(--border-radius);
    background-color: var(--color-alert);
  }
}
