$avatar-size: 48px;
$avatar-icon-size: calc($avatar-size / 2);

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--color-border);

  &__image {
    width: $avatar-icon-size;
    height: auto;
    line-height: 0;
  }
}
