.message-entry {
  display: flex;
  align-items: flex-start;
  column-gap: var(--spacing-3);
  margin-bottom: var(--spacing-4);
  
  &--assistant {
    flex-direction: row;
    text-align: start;
  }

  &--user {
    flex-direction: row-reverse;
    text-align: end;
  }

  &--pending {
    opacity: 0.5;
  }

  &__avatar,
  &__bubble {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__time {
    display: block;
    margin-top: var(--spacing-2);
    font-size: var(--font-size-body-0);
    font-weight: var(--font-weight-medium);
  }
}
